.offline{
    height: 100vh;
    width: 100%;
}

/* Loading (Shimmer) */
.shimmer-container{
    width: 100%;
    height: auto;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shimmer-search-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.shimmer-search{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    background-color: #F6F6F6;
}

.shimmer-btn{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    background-color: #F6F6F6;
}

.shimmer-card{
    width: 30%;
    height: 60vh;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 1px 1px 10px #d9d9d9;
}

.shimmer-img{
    width: 100%;
    height: 250px;
    background-color: #f6f6f6;
}

.shimmer-content{
    padding: 20px;
}

.shimmer-title{
    width: 60%;
    height: 20px;
    background-color: #f6f6f6;
    border-radius: 20px;
}

.shimmer-ratings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0px;
}

.shimmer-cuisines{
    width: 80%;
    height: 15px;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.shimmer-rating{
    width: 10%;
    height: 15px;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.shimmer-location{
    width: 50%;
    height: 18px;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.shimmer-bg{
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}

a{
    text-decoration: none;
    color: #000;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    box-shadow: 2px 2px 20px #d9d9d9;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav > a > img{
    height: 80px;
    transform: scale(1.15);
    mix-blend-mode: multiply;
    object-fit: cover;
}

nav > a > img:hover{
    transform: scale(1.10);
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li{
    list-style: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    font-size: 18px;
}

nav ul li a:hover{
    color: #ff4500;
}

.search-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.search-input{
    width: 50%;
    border: 1px solid #000;
    outline: none;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 16px;
}

.btn{
    padding: 10px 20px;
    background-color: #ff4500;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.search-container button:active{
    transform: scale(0.95);
}

.products{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 40px;
    align-items: center;
    justify-content: space-around;
}

.card-container{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-heading{
    color: #ff4500;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 0px;
}

.card{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: 2px 2px 20px #d9d9d9;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.card:hover{
    transform: scale(0.98);
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-content{
    padding: 20px;
}

.card-content h2{
    font-size: 20px;
}

.ratings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    gap: 20px;
    padding-block: 10px;
}

.ratings p:first-child::-webkit-scrollbar{
    display: none;
}

.ratings p:first-child{
    font-size: 13px;
    color: #4d4d4d;
    white-space: nowrap;
    overflow: scroll;
}

.ratings p:last-child{
    font-size: 14px;
    font-weight: 600;
}

.location{
    font-size: 15px;
    margin-top: 0px;
    color: #4d4d4d;
    font-weight: 500;
}

.restaurant-menu-container{
    /* box-shadow: 2px 2px 20px #d9d9d9; */
    margin: 50px;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.restaurant-menu-img{
    height: 300px;
    width: 500px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 2px 2px 20px #8f8f8f;
}

.restaurant-ratings{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-block: 1rem;
}

.restaurant-menu-heading{
    font-size: 30px;
    margin-bottom: 10px;
}

.restaurant-menu{
    padding: 1rem 50px;
}

li{
    font-weight: 700;
    margin-bottom: 5px;
}

.restaurant-menu-details .menu-desc{
    margin-bottom: 1rem;
    color: #8c8c8c;
}

.menu-image{
    height: 250px;
    width: 350px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 2px 2px 20px #d9d9d9;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.menu-image:hover{
    transform: scale(1.05);
}

.restaurant-menu-details{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-block: 2rem;
    box-shadow: 2px 2px 20px #d9d9d9;
    padding: 20px 20px;
    border-radius: 20px;
}

.menu-price{
    font-size: 20px;
    margin-block: 10px;
    color: black;
    font-weight: 600;
}

@media screen and (max-width: 500px) {
    .card{
        width: 100vw;
    }

    .restaurant-menu-container{
        flex-direction: column;
        margin: 30px 20px;
    }

    .restaurant-menu-img{
        width: 100%;
    }

    .card-container{
        width: 100%;
    }

    .shimmer-card{
        width: 100%;
    }

    .restaurant-menu-details{
        flex-direction: column;
        padding: 30px 20px;
        margin-block: 20px;
    }

    .menu-image{
        width: 100%;
    }

    nav ul{
        display: none;
    }

    nav{
        padding-inline: 20px ;
    }

    .restaurant-menu{
        padding: 1rem 20px;
    }

    .search-input{
        width: 90%;
    }

    .shimmer-search{
        width: 90%;
    }
}

@media screen and (min-width: 500px) and (max-width: 748px) {
    .card-container{
        width: 45%;
    }

    .shimmer-card{
        width: 45%;
    }

    nav ul{
        display: none;
    }

    nav{
        padding-inline: 50px ;
    }

    .search-input{
        width: 90%;
    }

    .shimmer-search{
        width: 90%;
    }
}